# =========================
# IDE
# =========================

### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# =========================
# Build / Dependencies
# =========================

# Gradle
.gradle/
build/

# Maven
target/

# Logs
*.log

# =========================
# OS
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db